//———————— BOOTSTRAP OVERRIDES ———————————

//$container-md:                 $container-desktop !default;

// Large screen / wide desktop


//———————— CUSTOM PROPERTIES ———————————

/* Fonts */
$main-fonts: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$soft-fonts: 'SangBleu', 'Helvetica Neue', Helvetica, sans-serif;

$grid-gutter-width: 27px !default;

/* Colors */
$matouk-gray: #b4b4b4;
$lightest-gray: #e8e3e3;

$red: #ff0000;
$main-blue: #6A90CA;
$group-blue: #6A8FCA;
$group-red: #CB0C0C;
$group-pink: #FAA9A8;
$group-orange: #DF5F23;
$group-yellow: #FFC550;
$group-green: #83C6A6;
$group-purple:  #A292BC;
$group-blacks: #534F54;
$group-metals: #CBAC81;

$sub-red-01-coral: #E64D4D;
$sub-red-02-chinese: #A51C1C;

$sub-pink-01-pink: #FBB8A9;
$sub-pink-02-nectar: #F6D4D4;
$sub-pink-03-azalea: #F06D96;

$sub-orange-01-tangerine: #E55A17;
$sub-orange-02-chocolate: #7B462C;

$sub-yellow-01-sunshine: #F5A623;
$sub-yellow-02-butter: #FFDF99;
$sub-yellow-03-gold: linear-gradient(-180deg, #FFEBC9 3%, #D6B026 100%);

$sub-green-01-leaf: #C2D458;
$sub-green-02-khaki: #BBB982;
$sub-green-03-opal: #C3D8D8;
$sub-green-04-turquoise: #66B9C2;

$sub-blue-01-azure: #7893D5;
$sub-blue-02-navy: #A7C5EE;
$sub-blue-03-ice: #24509F;

$sub-purple-01-violet: #CCBEE2;
$sub-purple-02-orchid: #A292BC;

$sub-black-01-charcoal: #434342;
$sub-black-02-sterling: #7D8393;
$sub-black-03-smoke: #CCCED5;
$sub-black-04-silver: linear-gradient(-180deg, #E8E9EC 0%, #9A9BA1 100%);

$sub-metals-01-bronze:  #8E7F6B;
$sub-metals-02-champagne: #D7B27E;
$sub-metals-03-sand: #E1D6C6;

$sub-white-01-cream: #FDF4E2;

/* Animation Easing */
$smooth: cubic-bezier(0.895, 0.03, 0.685, 0.22);