<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/slick.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matouk PLP</title>
</head>
<body>
<header>
</header>

<section class="main">
    <h2>Duvet Covers</h2>
    <div class="filters">
        <header>
            <div class="grid-select">
                <span><a href="#">Duvet covers</a></span>
            </div>
            <button class="refine">Refine</button>
            <div class="sort">
                <span class="sort-by">Sort</span>
                <button>Newest</button>
            </div>
        </header>


        <div class="body">
            <div class="mobile-header">
                <a href="#" class="mobile-reset">Reset</a>
                <span class="title">Refine</span>
                <a href="#" class="mobile-apply">Apply</a>
            </div>

            <section class="categories">
                <div class="style">
                    <h3>Style</h3>
                    <ul>
                        <li><a href="#" class="style-amado" data-filter="style-amado">Amado</a></li>
                        <li><a href="#" class="style-castela" data-filter="style-castela">Castela</a></li>
                        <li><a href="#" class="style-chelsea" data-filter="style-chelsea">Chelsea</a></li>
                        <li><a href="#" class="style-luca" data-filter="style-luca">Luca</a></li>
                        <li><a href="#" class="style-nikita" data-filter="style-nikita">Nikita</a></li>
                        <li><a href="#" class="style-oberlin" data-filter="style-oberlin">Oberlin</a>
                        <li><a href="#" class="style-terra" data-filter="style-terra">Terra</a></li>
                        <li><a href="#" class="style-urbino" data-filter="style-urbino">Urbino</a></li>
                        <li>More</li>
                    </ul>
                </div>
                <div class="colors">
                    <h3>Colors</h3>
                    <div>
                        <script id="color-template" type="x-handlebars-template">
                            {{#each this}}
                            <a href="#" data-filter="{{@key}}" class="color-button {{@key}}"></a>
                            <div class="circle-mask">
                                {{#each this}}
                                <span class="color-wheel {{this}}"></span>
                                {{/each}}
                            </div>
                            {{/each}}
                        </script>
                    </div>

                </div>
                <div class="duvet-category">
                    <div class="sheets">
                        <h3>Category</h3>
                        <ul>
                            <li><a class="fitted" data-filter="fitted" href="#">Fitted Sheet</a></li>
                            <li><a class="flat" data-filter="flat" href="#">Flat Sheet</a></li>
                        </ul>
                    </div>
                    <div class="material">
                        <h3>Material</h3>
                        <ul>
                            <li>
                                <a href="#" class="percale" data-filter="percale">Cotton Percale</a>
                            </li>
                            <li>
                                <a href="#" class="egyptian" data-filter="egyptian">Egyptian cotton</a>
                            </li>
                            <li>
                                <a href="#" class="cotton" data-filter="cotton">Cotton</a>
                            </li>
                            <li>
                                <a href="#" class="polyester" data-filter="polyester">Polyester</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="bespoke">
                    <h3>Bespoke</h3>
                    <ul>
                        <li>
                            <a href="#" class="made_to_order" data-filter="made_to_order">Made-to-order</a>
                        </li>
                        <li>
                            <a href="#" class="monogram" data-filter="monogram">Monogram</a>
                        </li>
                        <li>Learn more</li>
                    </ul>
                </div>
            </section>
            <div class="reset">
                <a href="#">Clear all</a>
            </div>

        </div>
        <section class="selected">
            <script id="active-filters" type="x-handlebars-template">
                {{#each this}}
                <span class="tag">{{this}}<a href="#" class="close" data-filter="{{this}}"></a></span>
                {{/each}}

            </script>
        </section>
    </div>
    <div class="list-container"></div>
    <ul class="listing">
        <script id="list-template" type="x-handlebars-template">
            {{#each this}}

            <li data-filters="style-{{this.style}} {{#each this.colors}}{{@key}} {{/each}}{{this.category}} {{this.material}} {{this.bespoke}}"
                class="style-{{this.style}} {{#each this.colors}}{{@key}} {{/each}}{{this.category}} {{this.material}} {{this.bespoke}}">
                <div>
                    <figure>
                        <img src="img/models/{{this.id}}.png" alt="">
                        {{#each extraimages}}
                        <img src="img/models/{{this}}.png" alt="">
                        {{/each}}
                    </figure>
                    <div class="caption">
                        <h4>{{name}}</h4>
                        <small>${{price_min}} - ${{price_max}}</small>

                        <!--<div class="slider-nav">
                            {{#each flattencolors}}
                            <a href="" data-color="{{this}}" class="color-ball {{this}}"></a>
                            {{/each}}
                            {{#if remainder}}<span class="remainder">+ {{remainder}}</span>{{/if}}
                        </div>-->
                        <div class="slider-nav">
                            {{#allcolors}}
                            {{this}}
                            <span class="remainder"></span>
                            {{/allcolors}}
                        </div>


                    </div>
                </div>
            </li>

            {{/each}}
        </script>
    </ul>
</section>
<footer>
    <img src="img/footer-md.svg" alt="">

</footer>

<!--<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>-->
<script src="js/libs/enquire.js"></script>
<script src="js/libs/jquery-min.js"></script>
<script src="js/libs/handlebars.js"></script>
<script src="js/libs/slick.js"></script>
<script src="js/main.js"></script>
</body>
</html>