* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
  color: $main-blue !important
}

body {
  @media (min-width: $screen-md-min) {
    border-width: 20px 20px 0 20px;
    border-color: $main-blue;
    border-style: solid;
  }
  font-family: $main-fonts;
}

body > header {
  @extend .container-fluid;
  background: url('../img/header-sm.svg') center no-repeat;
  min-height: 68px;
  background-size: contain;
  @media(min-width: $screen-md-min) {
    min-height: 145px;
    background: url('../img/header-md.svg') center no-repeat;

  }

  nav {
    @include make-row();
    h1 {
      @include make-md-column(3);
      @include make-md-column-offset(5)
    }
  }
}

.filters {
  @include make-row();

  .categories > div {
    @include make-row();
    border-bottom: 1px solid #F2F2F2;
    overflow-x: scroll;
    @media (min-width: $screen-md-min) {
      border-bottom: none;
      overflow-x: hidden;
      border-left: 1px solid $lightest-gray;
      margin-bottom: 15px;
      padding-bottom: 15px;
      &:first-child {
        border-left: none;
      }
      &.style,
      &.colors {
        @include make-md-column(3);
      }
      &.style li {
        @include make-md-column(6);
        padding-left: 0;
      }

      &.duvet-category {
        @include make-md-column(5);
        > div {
          @include make-md-column(4);
        }
      }
      &.bespoke {
        @include make-md-column(1);
      }

    }
  }
}

.main {
  h2 {
    /* duvet covers: */
    font-family: $soft-fonts;
    font-size: 17px;
    color: #282828;
    letter-spacing: 2.125px;
    text-align: center;
    margin: 40px auto;
    text-transform: uppercase;

    @media(min-width: $screen-md-min) {
      font-size: 16px;
      letter-spacing: 2px;
      margin: 90px auto;
    }

  }
}

section {
  @extend .container;
}

.tag {
  font-size: 14px;
  color: #717073;
  letter-spacing: 2.5px;
  line-height: 21px;
  border: 1px solid #717073;
  position: relative;
  height: 35px;
  display: inline-block;
  text-transform: uppercase;
  padding: 7px 40px 7px 7px;
  .close {
    background: url('../img/close.svg') center no-repeat;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    display: block;
  }
}

.list {
  @include make-row();

}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: 0
  }
}

.list-container {
  @media(min-width: $screen-md-min) {
    @include container-fixed(0);
  }
}

.listing {
  @include make-row();

  li {
    @include make-xs-column(6);
    overflow: hidden;
    &:nth-child(2n) {
      @include clearfix;
    }
    transition: opacity 1s $smooth;
    //&.inView {
    //  opacity: 1;
    //}

    //> div,
    figure {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: $gray-lighter;
      height: 240px;
    }
    @media (min-width: $screen-md-min) {
      @include make-md-column(3);
      &:nth-child(5n) {
        @include clearfix;
      }

      //> div,
      figure {
        height: 360px;
      }
    }
    margin-bottom: $grid-gutter-width;
    //height: 40px;
    img {
      width: 100%;
      height: auto;
    }
  }
  h4 {
    font-size: 11px;
    color: #282828;
    letter-spacing: 1.5px;
    line-height: 20px;
    text-transform: uppercase;
  }
  small {
    font-size: 12px;
    color: #717073;
    letter-spacing: 0;
    line-height: 24px;
  }
  .color-ball {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin: 0 5px;
    border-radius: 16px;
    padding: 6px;
    border: none;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0
    }
    &.slick-current {
      border: 2px solid #fff;
      width: 5px !important;
      height: 5px !important;
      box-shadow: 1px 0 0 1px #e0dfdf, 0 1px 0 1px #e0dfdf, -1px 0 0 1px #e0dfdf, 0 -1px 0 1px #e0dfdf;
      border-radius: 10px
    }
    @media(max-width: $screen-sm-max) {
      display: none !important;
    }
  }
  .caption {
    @media(min-width: $screen-md-min) {
      height: 82px;
      .slick-track {
        padding: 6px;
      }
    }
  }
  .slick-list {
    padding: 2px;
  }
}

.color-button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
  border: 2px solid transparent;
  margin: 0 30px 10px 0;
  &.enabled {
    border-color: #fff;
    box-shadow: 1px 0 0 1px #717073, 0 1px 0 1px #717073, -1px 0 0 1px #717073, 0 -1px 0 1px #717073;

    &:hover:after {
      content: "x";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      color: #464646;
      background: rgba(255, 255, 255, 0.7);
      width: 17px;
      height: 17px;
      z-index: 20;
      border-radius: 10px;
      padding: 0px 9px 0px 4px;
      box-sizing: border-box;
      line-height: 16px;
    }
  }
  &.disabled {
    opacity: 0.1;
    cursor: none;
    pointer-events: none;
  }
  .color-wheel {
    display: block;
    width: 15px;
    height: 15px;
  }
  &:hover {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    .circle-mask {
      display: block;
      width: 40px;
      height: 40px;
      left: -10px;
      top: -10px;
      border-radius: 20px;
      transform-origin:left center;
    }

  }
}

.circle-mask {
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  display: block;
}
