.color-ball,
.color-button,
.color-wheel{
  &.red {
    background: $group-red;
  }

  &.blue {
    background: $group-blue;
  }

  &.pink {
    background: $group-pink;
  }

  &.green {
    background: $group-green;
  }

  &.metal {
    background: $group-metals
  }

  &.white {
    background: #fff;
    border: 0.5px solid #979797 !important;
  }

  &.yellow {
    background: $group-yellow;
  }
  &.orange {
    background: $group-orange
  }

  &.purple {
    background: $group-purple
  }

  &.black {
    background: $group-blacks;
  }

  &.coral {
    background: $sub-red-01-coral;
  }

  &.chinese {
    background: $sub-red-02-chinese
  }

  &.azure {
    background: $sub-blue-01-azure;
  }

  &.navy {
    background: $sub-blue-02-navy;
  }

  &.ice {
    background: $sub-blue-03-ice;
  }

  &.pink-pink {
    background: $sub-pink-01-pink;
  }

  &.nectar {
    background: $sub-pink-02-nectar;
  }

  &.azalea {
    background: $sub-pink-03-azalea;
  }

  &.tangerine {
    background: $sub-orange-01-tangerine;
  }

  &.chocolate {
    background: $sub-orange-02-chocolate
  }

  &.sunshine {
    background: $sub-yellow-01-sunshine;
  }

  &.butter {
    background: $sub-yellow-02-butter
  }

  &.gold {
    background: $sub-yellow-03-gold
  }

  &.leaf {
    background: $sub-green-01-leaf
  }

  &.khaki {
    background: $sub-green-02-khaki
  }

  &.opal {
    background: $sub-green-03-opal
  }

  &.turquoise {
    background: $sub-green-04-turquoise
  }

  &.violet {
    background: $sub-purple-01-violet
  }

  &.orchid {
    background: $sub-purple-02-orchid
  }

  &.charcoal {
    background: $sub-black-01-charcoal
  }

  &.sterling {
    background: $sub-black-02-sterling
  }

  &.smoke {
    background: $sub-black-03-smoke
  }

  &.silver {
    background: $sub-black-04-silver
  }

  &.bronze {
    background: $sub-metals-01-bronze
  }

  &.champagne {
    background: $sub-metals-02-champagne
  }

  &.sand {
    background: $sub-metals-03-sand
  }

  &.cream {
    background: $sub-white-01-cream
  }
}