.colors {
  button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 0.5px solid transparent;
  }
}

.color-wheel {
  width: 15px;
  height: 30px;
  display: block;
  top: 0;
  left: -15px;
  border-radius:15px 0 0 15px;
  position: absolute;
  transform-origin: center right;
}

.filters {
  margin-bottom: $grid-gutter-width;
  border-bottom: 1px solid #e8e3e3;
  .mobile-header {
    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
  &.fixed {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;

    background: url("../img/scrollbar-icons.svg") no-repeat right 15px top 18px #fff;
    ~ .listing{
      padding-top: 60px;
    }
    &.active ~ .listing {
      padding-top: 250px
    }
    .grid-select {
      display: block;
      line-height: 28px;
      letter-spacing: 0.3px;
      text-transform: capitalize;
      font-size: 12px;
    }
    header, body {
      padding-left: 25px;
      padding-right: 25px
    }
    header {
      border-bottom: 1px solid $lightest-gray;
    }
    .body {
      padding-top: 30px;
    }
    .body, .reset {
      @include container-fixed(0);
    }
    .reset {
      width: 1330px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .refine {
      background-position: 6px 19px;
      height: auto;
      padding: 17px 13px 11px 29px;
      background-clip: padding-box;
      &.active {
        background-position: 6px -29px;

      }
    }
    .sort {
      display: none;
    }
  }
  .reset {
    width: 100%;
    border-left: none !important;
    @include container-fixed();
    font-size: 13px;
    padding-bottom: 20px;

  }
  header {
    font-family: $main-fonts;
    font-size: 11px;
    line-height: 20px;
    color: #717073;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-top: 1px solid #b4b4b4;
    //border-bottom: 1px solid #B4B4B4;
    @include container-fixed();
    @media (min-width: $screen-md-min) {
      border-top: none
    }
    button {
      border: none;
      background: transparent;
      outline: none;
      text-transform: inherit;
      letter-spacing: inherit;

      &.refine {
        background: url("../img/plus.svg") no-repeat 3px 10px transparent;
        padding: 6px 3px 29px 26px;
        line-height: 25px;
        display: inline-block;
        &.active {
          background-position: 3px -39px;
        }
      }
      @media(max-width: $screen-sm-max) {
        font-size: 13px;
        letter-spacing: 2.87px;
        background: none;
        &.refine {
          background: none;
        }

      }
    }
    @media (max-width: $screen-sm-max) {
      .refine,
      .sort-by {
        @include make-xs-column(6);
        height: 100%;
        font-size: 13px;
        letter-spacing: 2px;
        text-align: center;
        line-height: 25px;
        padding: 10px !important
      }
      .refine {
        border-right: 1px solid #b4b4b4;
      }
      .sort {
        @include clearfix;
        button {
          display: none;
        }
      }
    }
    @media(min-width: $screen-md-min) {
      @include make-row();
      .sort {
        float: right;
        display: inline-block;
        width: auto;
      }
      button {
        height:25px;
      }
    }
  }
  .body {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.8s $smooth;
    &.active {
      opacity: 1;  
    }
    
    
    @media (min-width: $screen-md-min) {
      position: relative;
      height: auto;
    }
    h3 {
      font-family: $main-fonts;
      font-size: 12px;
      color: #282828;
      letter-spacing: 0.28px;
      line-height: 20px;
      margin-top: 10px;

      @media(max-width: $screen-md-max) {
        width:100%;
        /* color: */
        font-size: 15px;
        color: #717073;
        letter-spacing: 2.75px;
        line-height: 38px;
        text-transform: uppercase;
        margin: 0;
        padding: 10px;
        cursor: pointer;
        + div,
        +ul {
          display: none;
          background: #F9F7F7;
          overflow-x: scroll;
          &.open {
            display: block;
          }
        }
      }
    }
    li {
      font-size: 13px;
      color: #717073;
      letter-spacing: 0.3px;
      line-height: 20px;
      a {
        color: inherit;
        &.enabled {
          font-weight: bold;
          font-size: 12px;
          &:after {
            content: 'x';
            display: inline-block;
            color: inherit;
            padding-left: 8px;
            font-weight: bold;
          }

        }
        &.disabled {
          color: #9E9D9F;
          cursor: none;
          pointer-events: none;
        }
        &:focus {
          text-decoration: none;
        }

      }
    }
  }
  .sheets {
    @media(max-width: $screen-md-max) {
      border-bottom: 1px solid #F2F2F2;
    }
  }
  &.active .sort {
    display: none;
  }
}

body.mobile {
  .filters .body {
    h3 + div,
    h3 + ul {
      height: 70px;
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 26px;
      width: 300%;
    }
  }
  .filters .body li {
    display: inline-block;
    margin-right: 22px;
    a {
      text-transform: uppercase;
      font-size: 14px;
      border: 0.5px solid #CFCFCF;
      padding: 10px;
      letter-spacing: 2.5px;
    }
  }
  .color-button,
  .color-ball{
    width:35px;
    height: 35px;
    border: 10px solid #fff;
    border-radius: 17.5px;
    margin-right: 10px
  }
  .colors .open {
    height: 85px !important;
  }
  .color-button.enabled:hover:after {
    top: -9.5px;
    left: -9.5px;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    padding: 0px 9px 0px 7px;
    line-height: 33px;
    text-align: center;
    font-size: 18px;
  }
}

.mobile-header {
  border-bottom: 1px solid #cfcfcf;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.5px;
  .title {
    font-size: 14px
  }
  a {
    color: $matouk-gray
  }

}
.grid-select {
  padding: 15px 13px 11px 29px;
  display: none;
  float: left;
  background: url("../img/grid.svg") no-repeat left center;
  line-height: 30px;
  border-right: 1px solid $lightest-gray;

}