@font-face {
  font-family: 'SangBleu';
  src: url('../fonts/SangBleuBPSans-LightItalic.eot');
  src: local('☺'), url('../fonts/SangBleuBPSans-LightItalic.woff') format('woff'), url('../fonts/SangBleuBPSans-LightItalic.ttf') format('truetype'), url('../fonts/SangBleuBPSans-LightItalic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SangBleu';
  src: url('../fonts/SangBleuBPSans-Light.eot');
  src: local('☺'), url('../fonts/SangBleuBPSans-Light.woff') format('woff'), url('../fonts/SangBleuBPSans-Light.ttf') format('truetype'), url('../fonts/SangBleuBPSans-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SangBleu-Regular';
  src: url('../fonts/SangBleuSansTrial-Regular.eot');
  src: local('☺'), url('../fonts/SangBleuSansTrial-Regular.woff') format('woff'), url('../fonts/SangBleuSansTrial-Regular.ttf') format('truetype'), url('../fonts/SangBleuSansTrial-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-BookOblique.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-BookOblique.woff') format('woff'), url('../fonts/AvenirLTStd-BookOblique.ttf') format('truetype'), url('../fonts/AvenirLTStd-BookOblique.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/AvenirLTStd-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: local('☺'), url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/AvenirLTStd-Medium.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}




